@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'inknut Antiqua';
}

body {
    background-color: #F5F2DF;
    background-size: cover;
}

nav {
    background-color: #600000;
}

.nav-link {
    color: #F5F2DF;
    font-family: 'inknut Antiqua';
}

img {
    width: 12%;
}

.title {
    color: #600000;
    text-align: center;
    font-family: 'Inknut Antiqua';
    font-size: 70px;
    font-weight: 400;
}

.tswira {
    width: 50%;
}


.home {
    background-image: url(img/0\ 1.png);
    height: 100vh;
}
.majestic{
    color: #F5F2DF;
    text-align: center;
    font-family: 'Inknut Antiqua';
    font-size: 200px;
    font-weight: 400;
}
.chinese-text{
    font-size: 150px;
    font-family: 'Noto Sans Simplified Chinese';
    color: #F5F2DF;
    text-align: center;
    stroke:5px red;
}
.rest{
    color: #600000;
    text-align: center;
    font-family: 'Inknut Antiqua';
    font-size: 200px;
    font-weight: 400;
}
.img3{
    margin-top: 8%;
    margin-left: 5%;

}
.paragraph1{
    font-family: 'Inknut Antiqua';
    line-height: 70px;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 400 ;
}
.container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .form {
    flex: 1;
  }
  
  .input-row {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  label {
    flex: 1;
  }
  
  input {
    flex: 3; 
    width: 100%;
    width: 10px;
    margin-right: 100px;
    border-radius: 10px;
    background-color: #D9D9D9;
    margin-bottom: 20px;
  }
  .send{
    margin-left: 20px;
    background-color: #600000;
    color: #F5F2DF;
    border: none;
    border-radius: 10px;
    text-align: center;
    width: 90px;
    height: 30px;
  }
  .accordion{
    margin: 0 550px;
    }
    .acc{
      width: 500px;
    
    }
    .acc-button{
      background-color: #600000;
      color: #F5F2DF;
    }
    .acc-btn{
      margin: 0 210px;
      border: none;
      border-radius: 5px;
      background-color: #600000;
      color: #F5F2DF;
      width: 10%;
    }
    .accordion-body{
      background-color: #F5F2DF;
    }
    span{
      color: #600000;
    }
