@import url('https://fonts.googleapis.com/css2?family=Bigshot+One&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #F5F2DF;
}
nav{
    background-color: #600000;
}
.nav-link{
    color: #F5F2DF;
    font-family: 'inknut Antiqua';
}
img{
    width: 12%;
}
.title{
    color: #600000;
    text-align: center;
    font-family: 'Inknut Antiqua';
    font-size: 70px;
    font-weight: 400;
}
.tswira{
    width: 5%;
}