
.img3{
    margin-top: 8%;
    margin-left: 5%;

}
.paragraph1{
    font-family: 'Inknut Antiqua';
    line-height: 70px;
    margin-top: 10%;
    margin-left: 5%;
    font-size: 30px;
    font-weight: 400 ;
}
